@model IEnumerable<Product>

<partial name="_Notifications" />
<div class="row pb-3">
    @foreach (var product in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 p-3 shadow  border-top border-5 rounded">
                        @if (product.ProductImages != null && product.ProductImages.Count() > 0)
                        {
                            <div class="product-carousel">
                                <div class="carousel">
                                    <button class="carousel-button prev">&#8249;</button>
                                    <div class="carousel-inner">
                                        @foreach(var item in product.ProductImages)
                                        {
                                            <img src="@item.ImageUrl" class="card-img-top rounded" />
                                        }
                                    </div>
                                    <button class="carousel-button next">&#8250;</button>
                                </div>
                            </div>
                        }
                        else
                        {
                            <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                        }

                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Title</p>
                                <p class="card-title text-warning text-center">by <b>@product.Author</b></p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center mb-0">
                                    List Price:
                                    <span class="text-decoration-line-through">
                                        @product.ListPrice.ToString("c")
                                    </span>
                                </p>
                            </div>
                            <div class="pl-1">
                                <p class="text-dark text-opacity-75 text-center">
                                    As low as:
                                    <span>
                                        @product.Price.ToString("c")
                                    </span>
                                </p>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Details"
                               asp-route-productId="@product.Id"
                               class="btn btn-primary bg-gradient border-0 form-control">
                                Details
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<style>
    .product-carousel {
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .carousel {
        display: flex;
        align-items: center;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .carousel-inner {
        display: flex;
        height: 130px;
        width: 100%;
        transition: transform 0.3s ease-in-out;
    }

    .carousel-image {
        flex-shrink: 0;
        width: 100%;
        height: auto;
    }

    .carousel-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        border: none;
        cursor: pointer;
    }

        .carousel-button.prev {
            left: 10px;
        }

        .carousel-button.next {
            right: 10px;
        }

</style>